root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2
indent_style = space
charset = utf-8
max_line_length = 78

[justfile]
indent_size = 4

# minified javascript files shouldn't be changed
[**.min.js]
indent_style = ignore
insert_final_newline = ignore
