* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #000;
  border: 1px solid #2a2a2a;
  color: #b0b4bc;
  padding: 6px 3px;

  font-family: Iosevka Nerd Font;
  font-size: 18px;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #6c5abc;
  color: #000000;
  border-radius: 0px;
}

.metric scale trough {
  all: unset;
  background-color: #45444c;
  border-radius: 0px;
  min-height: 7px;
  min-width: 40px;
  margin-left: 0px;
}

.metric {
  font-size: 22px;
  margin-bottom: 15px;
}

.label-ram {
  font-size: large;
}

.workspaces {
  font-size: 20px;
}

.workspaces button:hover {
  color: #8c72ff;
}
