$font_left_bar: "Kode Mono";
$font_calendar: "Iosevka Nerd Font", monospace;

$color_background: #000;
$color_surface: #0b0b0b;
$color_border: #2a2a2a;
$color_text: #d9d9d9;
$color_text_secondary: #b0b4bc;
$color_text_muted: #858585;
$color_accent: #8c72ff;

* {
  all: unset;
}

@import "./left-bar/eww.scss";
@import "./calendar/eww.scss";
