# keep-sorted start
*.elc
*~
.DS_Store
.cache/
.cask
.emacs.desktop
.emacs.desktop.lock
.lsp-session*
.smex-items
/var/pcache
auto-save-list
custom.el
ede-projects.el
el-get
eln-cache
eln-cache/
elpa
eshell
gotools/
history
network-security.data
places
prelude-cheatsheet.aux
prelude-cheatsheet.el
prelude-cheatsheet.log
projectile-bookmarks.eld
recentf
savefile/
savehist
saveplace
semanticdb
session*
straight
tramp
transient/
url
var/
# keep-sorted end
