layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:zjstatus" {
        // hide_frame_for_single_pane "false"

        format_left  "#[bg=#181825]{mode} {tabs}"
        format_right "#[fg=#CBA6F7] #[fg=#CDD6F4,bold]{datetime} #[fg=#CBA6F7,bg=#181825,bold]{session}"
        format_space "#[bg=#181825]"
        format_center ""

        mode_normal      "#[fg=#89B4FA,bold] N"
        mode_tmux        "#[fg=#FAB387,bold] T"
        mode_rename_tab  "#[fg=#F2CDCD,bold] R"
        mode_rename_pane "#[fg=#F5C2E7,bold]󰏪 R"
        mode_resize      "#[fg=#F38BA8,bold]󰩨 R"
        mode_pane        "#[fg=#A6E3A1,bold] P"
        mode_tab         "#[fg=#74C7EC,bold]󰓩 T"
        mode_locked      "#[fg=#EBA0AC,bold]󰌾 L"
        mode_scroll      "#[fg=#CBA6F7,bold]󱕒 S"
        mode_enter_search "#[fg=#89DCEB,bold] S"
        mode_search      "#[fg=#B4BEFE,bold] S"
        mode_session     "#[fg=#94E2D5,bold] S"
        mode_move        "#[fg=#CDD6F4,bold] M"
        mode_prompt      "#[fg=#F9E2AF,bold] P"
        mode_default_to_mode "normal"

        tab_normal               " #[fg=#7F849C,bg=#181825]{fullscreen_indicator}{sync_indicator}{floating_indicator}{index}-{name} "
        tab_active               " #[fg=#CDD6F4,bg=#181825,bold]{fullscreen_indicator}{sync_indicator}{floating_indicator}{index}-{name} "
        tab_fullscreen_indicator " "
        tab_sync_indicator       " "
        tab_floating_indicator   "󰉈 "

        border_enabled  "true"
        border_char     "⎼"
        border_format   "#[fg=#4f4b48]{char}"
        border_position "top"

        datetime        "#[fg=#BAC2DE,bold] {format} "
        datetime_format "%H:%M:%S %d-%m-%y"
        datetime_timezone "America/Sao_Paulo"
      }
    }
  }
}
