/**
* Hide sidebar-panel-header (sidebar.revamp: true)
*/
#sidebar-panel-header {
  display: none;
}

/* Hide horizontal native tabs toolbar */
#TabsToolbar > * {
  display: none !important;
}

/* Hide top window border */
#nav-bar {
  border-color: transparent !important;
}

/* Hide new Firefox sidebar, restyle addon's sidebar */
#sidebar-main,
#sidebar-launcher-splitter {
  display: none !important;
}
#sidebar-box {
  padding: 0 !important;
}
#sidebar-box #sidebar {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
}
#sidebar-splitter {
  --splitter-width: 3px !important;
  min-width: var(--splitter-width) !important;
  width: var(--splitter-width) !important;
  padding: 0 !important;
  margin: 0 calc(-1 * var(--splitter-width) + 1px) 0 0 !important;
  border: 0 !important;
  opacity: 0 !important;
}

/* Update background color of the #browser area (it's visible near the
  rounded corner of the web page) so it blends with sidebery color with 
  vertical nav-bar. */
#browser {
  background-color: var(--lwt-accent-color) !important;
  background-image: none !important;
}

/* Hide sidebar header (sidebar.revamp: false) */
#sidebar-header {
  display: none !important;
}
