@define-color accent #bdfcec;
@define-color bg-color #000000;
@define-color fg-color #eeeeee;
@define-color desc-color #cccccc;

window {
  background: transparent;
}

box.main {
  padding: 8px 12px;
  margin: 0px;
  border: 2px solid @desc-color;
  background-color: @bg-color;
  box-shadow: 0 0 5px black;
  font-family: "IosevkaTerm Nerd Font Mono";
}

text {
  min-height: 30px;
  padding: 5px;
  color: @fg-color;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match {
  color: @fg-color;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

label.match.description {
  font-size: 14px;
  color: @desc-color;
}

label.plugin.info {
  font-size: 14px;
  color: @fg-color;
}

.match {
  background: transparent;
  margin: 2px;
}

.match:selected {
  border-left: 2px solid @accent;
  padding-left: 12px;
  background: transparent;
  /* animation: fade 0.1s linear; */
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
